.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex-container {
  display: flex;
  background-color: yellow;
  border-style: dotted;
  border-width: 10px;
  font-size: 100pt;
}
  


a {
  padding-left: 30px;
  text-decoration: none;

}

.red{
  background-color: red;
  width: 100px;
  height: 100px;

}

.blue{
  background-color: blue;
  width: 100px;
  height: 100px;
}

.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}

a:hover, a:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

.dim:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;

}